.page-container {
  width: 100%;
  height: 85vh;
  display: flex;

  > div:nth-child(1) {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div:nth-child(2) {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: red;

    img {
      position: absolute;
      width: 35vw;
      height: 35vw;
      object-fit: contain;
    }
  }
}

#left-side-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;

  > div:nth-child(1) {
    color: #6c9e3d;
    font-weight: 700;
    font-size: 15px;
    background-color: #e9ffdb;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 50px;
    letter-spacing: 0.2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.068);
    align-self: flex-start;
  }

  > div:nth-child(2) {
    color: black;
    font-weight: bold;
    font-size: 70px;
    width: 100%;
    text-align: left;
    line-height: 75px;
    margin-top: 20px;

    span {
      color: #49b00b;
    }
  }
  > div:nth-child(3) {
    color: #8d8888c7;
    font-weight: 700;
    font-size: 20px;
    width: 70%;
    align-self: flex-start;
    text-align: left;
    line-height: 30px;
    margin-top: 40px;
  }
  a {
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 17px;
    color: white;
    background-color: #41ab00;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    align-self: flex-start;
    margin-top: 40px;
    text-decoration: none;
  }
}

#gradient-circle {
  position: relative;
  width: 30vw;
  height: 30vw;
  background: linear-gradient(190deg, rgb(93, 187, 238), rgba(180, 224, 225, 0) 70.71%),
    linear-gradient(140deg, rgb(158, 240, 129), rgba(212, 251, 206, 0)), linear-gradient(336deg, rgba(251, 239, 213, 1), rgba(251, 235, 209, 0));
  border-radius: 100%;
}

@media (min-width: 1201px) and (max-width: 1500px) {
  .page-container {
    width: 100%;
    height: 85vh;
    display: flex;

    > div:nth-child(1) {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    > div:nth-child(2) {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: red;

      img {
        position: absolute;
        width: 35vw;
        height: 35vw;
        object-fit: contain;
      }
    }
  }

  #left-side-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;

    > div:nth-child(1) {
      color: #6c9e3d;
      font-weight: 700;
      font-size: 14px;
      background-color: #e9ffdb;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 18px;
      padding-left: 18px;
      border-radius: 50px;
      letter-spacing: 0.2px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.068);
      align-self: flex-start;
    }

    > div:nth-child(2) {
      color: black;
      font-weight: bold;
      font-size: 60px;
      width: 100%;
      text-align: left;
      line-height: 70px;
      margin-top: 20px;

      span {
        color: #49b00b;
      }
    }
    > div:nth-child(3) {
      color: #8d8888c7;
      font-weight: 700;
      font-size: 18px;
      width: 70%;
      align-self: flex-start;
      text-align: left;
      line-height: 30px;
      margin-top: 40px;
    }
    a {
      font-weight: 600;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 25px;
      padding-left: 25px;
      font-size: 15px;
      color: white;
      background-color: #41ab00;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 0.2px;
      align-self: flex-start;
      margin-top: 40px;
      text-decoration: none;
    }
  }

  #gradient-circle {
    position: relative;
    width: 30vw;
    height: 30vw;
    background: linear-gradient(190deg, rgb(93, 187, 238), rgba(180, 224, 225, 0) 70.71%),
      linear-gradient(140deg, rgb(158, 240, 129), rgba(212, 251, 206, 0)), linear-gradient(336deg, rgba(251, 239, 213, 1), rgba(251, 235, 209, 0));
    border-radius: 100%;
  }
}

@media (min-width: 1000px) and(max-width: 1200px) {
  .page-container {
    width: 100%;
    height: 85vh;
    display: flex;

    flex-direction: column;

    > div:nth-child(1) {
      height: 90vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 10;
    }
    > div:nth-child(2) {
      height: 90vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        position: absolute;
        width: 60vw;
        height: 60vw;

        opacity: 0.3;
      }
    }
  }

  #left-side-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;

    > div:nth-child(1) {
      font-size: 14px;

      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 18px;
      padding-left: 18px;
      border-radius: 50px;
      letter-spacing: 0.2px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.068);
      align-self: center;
    }

    > div:nth-child(2) {
      font-size: 60px;
      width: 100%;
      text-align: center;
      line-height: 70px;
      margin-top: 15px;
    }
    > div:nth-child(3) {
      font-size: 20px;
      width: 70%;
      align-self: center;
      text-align: left;
      line-height: 30px;
      margin-top: 35px;
    }
    a {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 30px;
      padding-left: 30px;

      align-self: center;
      margin-top: 30px;
      text-decoration: none;
    }
  }

  #gradient-circle {
    position: relative;
    width: 40vw;
    height: 40vw;
    opacity: 0.1;
  }
}

@media (min-width: 560px) and (max-width: 999px) {
  .page-container {
    width: 100%;
    height: 85vh;
    display: flex;

    flex-direction: column;

    > div:nth-child(1) {
      height: 90vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 10;
    }
    > div:nth-child(2) {
      height: 90vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        position: absolute;
        width: 80vw;
        height: 80vw;
        object-fit: contain;
        opacity: 0.3;
      }
    }
  }

  #left-side-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;

    > div:nth-child(1) {
      font-weight: 700;
      font-size: 14px;

      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 18px;
      padding-left: 18px;
      border-radius: 50px;

      align-self: center;
    }

    > div:nth-child(2) {
      font-size: 40px;
      width: 100%;
      text-align: center;
      line-height: 50px;
      margin-top: 20px;
    }
    > div:nth-child(3) {
      font-size: 15px;
      width: 70%;
      align-self: center;
      text-align: left;
      line-height: 20px;
      margin-top: 40px;
    }
    a {
      font-weight: 600;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 30px;
      padding-left: 30px;
      font-size: 17px;

      border-radius: 30px;

      letter-spacing: 0.2px;
      align-self: center;
      margin-top: 40px;
    }
  }

  #gradient-circle {
    width: 60vw;
    height: 60vw;
    opacity: 0.1;
  }
}

@media (max-width: 559px) {
  .page-container {
    width: 100%;
    height: 85vh;
    display: flex;

    flex-direction: column;

    > div:nth-child(1) {
      height: 90vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 10;
    }
    > div:nth-child(2) {
      height: 90vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: red;

      img {
        position: absolute;
        width: 100vw;
        height: 100vw;
        opacity: 0.3;
      }
    }
  }

  #left-side-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;

    > div:nth-child(1) {
      font-weight: 700;
      font-size: 11px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 14px;
      padding-left: 14px;
      border-radius: 50px;
      letter-spacing: 0.2px;
      align-self: center;
    }

    > div:nth-child(2) {
      font-size: 35px;
      width: 100%;
      text-align: center;
      line-height: 40px;
      margin-top: 8px;
    }
    > div:nth-child(3) {
      font-weight: 700;
      font-size: 14px;
      width: 80%;
      line-height: 18px;
      margin-top: 10px;

      align-self: center;
    }
    a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 20px;
      padding-left: 20px;
      font-size: 11px;
      align-self: center;
      margin-top: 20px;
    }
  }

  #gradient-circle {
    width: 70vw;
    height: 70vw;
    opacity: 0.1;
  }
}
